.actions-content{
    width: 100%;
    height: 200px;
    
    background: url("../../../assets/actions/actions-background-cards.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-bottom: 12vw;
}

.actions-title{
    font-family: "Poppins", sans-serif;
    font-size: 72px;
    color: #3F005E;
    display: grid;
    gap: 6px;
    padding-left: 10%;
}