.motivation-content {

  display: flex;
  margin-top: -10px;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-bottom: 120px;

  .doctors {
    width: 484px;
    height: 300px;
  }

}
