.partners-content {
  
  height: 389px;
  width: 100%;
  margin-top: -10px;
  

  .doctors {
    width: 484px;
    height: 300px;
  }

}

.partners-carrossel-container{
  height: 190px;
  width: 1085px;
  display: flex;
  justify-content: center;
  margin: 90px auto 0 auto;
}
