.alice-carousel__dots{
    display: none !important;
}

.alice-carousel__prev-btn{
    position: absolute;
    left: -133px;
    top: -35px;
    text-align: left;
    width: 72px;
}
.alice-carousel__next-btn{
    position: absolute;
    right: -96px;
    top: -35px;
    text-align: right;
    width: 72px;
}

.alice-carousel__prev-btn-wrapper, 
.alice-carousel__next-btn-wrapper {
    width: 0px;
}



.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    width: 25%;
    font-size: 9em;
    transform: scale(0.5, 1.32);
    color: #3f005e;
    font-weight: 200;
}
