.home-content {
  width: 100vw;
  margin-top: -10px;
  margin-bottom: 200px;
  display: flex;

  .imagem {
    position: absolute;
    right: 0px;
    top: -60px;
    max-width: 819px;
    max-height: 743px;
  }

}
