@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

.content {
  display: flex;
  flex-direction: column;
  max-width: 500;
  margin: 22vw 0px 0px 6vw;
  text-align: left;

  .title {
    font-family: 'Poppins', sans-serif;
    color: #3F005E;
    font-weight: 600;
    font-size: 57px;
  }

  @media screen and (max-width: 960px){
    .title {
      font-family: 'Poppins', sans-serif;
      color: #3F005E;
      font-size: 4.2vw;
    }
  }

  .description {
    width: 30vw;
    font-family: 'Lato', sans-serif;
    color: #1F1F1F;
    font-size: 25px;
    margin-bottom: 6vh;
    text-align: left;
  }

  @media screen and (max-width: 960px){
    .description {
      width: 37vw;
      font-family: 'Lato', sans-serif;
      color: #1F1F1F;
      font-size: 1.9vw;
      margin-bottom: 4vw;
      text-align: left;
    }
  }

  .button-box {
    text-align: center;
  }

  .button {
    background-image: linear-gradient(to top, #AE7CC6 0%, #3F005E 100%);
    font-size: 25px;
    width: 19vw;
  }

  @media screen and (max-width: 960px){
    .button {
      background-image: linear-gradient(to top, #AE7CC6 0%, #3F005E 100%);
      font-size: 1.9vw;
      width: 19vw;
    }
  }

}

@media screen and (max-width: 960px){
  .content {
    display: flex;
    flex-direction: column;
    max-width: 500;
    margin: 30vw 0px 0px 6vw;
    text-align: left;
  }  
}

