.footer {
  width: 100;
  background: #3F005E;
  padding: 40px;

  .white-line {
  width: 85%;
  margin: auto 0px  20px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .copyright {
    width: 85%;
    margin: auto;
    font-size: 16px;
    color: white;
    text-align: center;
  }
}
