.Events{
  background-image: url('../../assets/purple-background3.svg');
  display: flex;
  width: 100vw;
  height: 800px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
}

.Events-content {
  display: flex;
  margin-top: 120px;
  width: 100%;
  justify-content: center;
}

