.item {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    *border: solid 2px yellow;
    width: 100% !important;

    @media (max-width: 500px) {
        width: 80vw;
    }
}

.swiper {
    @media (max-width: 500px) {
        padding: 39px !important;
    }

}