.who-content {

  background-image: url('../../assets/purple-background.svg');
  display: flex;
  width: 100vw;
  height: 800px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;

  .image-who {
    width: 550px;
    height: 300px;    
    border-radius: 25px;
  }

}
